/*
!.gitignore
!db.sql
!README.md
!wp-config.php
!wp-content/
wp-content/*

!wp-content/themes/
wp-content/themes/*
!wp-content/themes/scc/
wp-content/themes/scc/css/
wp-content/themes/scc/legacy/

!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/scc/
wp-content/plugins/scc/blocks/dist/
wp-content/plugins/scc/import/data.csv

node_modules/
.DS_Store
*.mo
