.scc-menu-bar {
  display: none;
}

.js-enabled .scc-menu-bar {
  z-index: 10;
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $grey-900;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;

  @include media(1333px) {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
  }
}

@import './icon';
@import './menu';
