.wp-block-button {
  margin-top: 1.5em;
}

.wp-block-button .wp-block-button__link {
  font-family: 'Akkurat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 0.64;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: $grey-50;
  color: #000;
  padding: 12px 16px;
  border-radius: 2px;
  transition: background-color 250ms ease;

  &:hover {
    background-color: $grey-200;
    color: #000;
    opacity: 1;
  }

  &:focus {
    background-color: $grey-300;
    color: #000;
  }
}

.wp-block-button.disabled .wp-block-button__link {
  color: $grey-500;
  cursor: not-allowed;

  &:hover, &:focus {
    background-color: $grey-50;
  }
}

.wp-block-button.primary .wp-block-button__link {
  background-color: $grey-900;
  color: #FFF;

  &:hover {
    background-color: $grey-800;
  }

  &:focus {
    background-color: $grey-700;
  }
}

.wp-block-button.primary.disabled .wp-block-button__link {
  color: #9F9F9F;

  &:hover, &:focus {
    background-color: $grey-900;
  }
}

.wp-block-button.secondary .wp-block-button__link {
  background-color: $amber-500;

  &:hover {
    background-color: $amber-600;
  }

  &:focus {
    background-color: $amber-700;
  }
}

.wp-block-button.secondary.disabled .wp-block-button__link {
  &:hover, &:focus {
    background-color: $amber-500;
  }
}

.wp-block-button.raised .wp-block-button__link {
  box-shadow: 0 0 4px rgba(#000, .25);
  transition: box-shadow 250ms ease;

  &:hover {
    box-shadow: 0 0 8px rgba(#000, .25);
  }

  &:focus {
    box-shadow: 0 0 2px rgba(#000, .25);
  }
}
