html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'RobotoSlab', serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Akkurat', sans-serif;
  font-weight: normal;
  line-height: 1.2;
  @include smoothstep('margin-top', 48px, 320px, 60px, 1440px);
  margin-bottom: 0;
  max-width: 960px;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 1.5rem;
  }

  a {
    color: $amber-500;
    text-decoration: none;
  }
}

h1, h2, h3 {
  color: #484848;
}

h4, h5, h6 {
  font-family: 'Akkurat', sans-serif;
}

h1 {
  @include smoothstep('font-size', 32px, 320px, 48px, 1440px);
}

h1 + p, h1 + ul, h1 + ol {
  @include smoothstep('margin-top', 32px, 320px, 48px, 1440px);
}

h2 {
  @include smoothstep('font-size', 28px, 320px, 36px, 1440px);
}

h2 + p, h2 + ul, h2 + ol {
  @include smoothstep('margin-top', 28px, 320px, 36px, 1440px);
}

h3 {
  @include smoothstep('font-size', 24px, 320px, 32px, 1440px);
}

h3 + p, h3 + ul, h3 + ol {
  @include smoothstep('margin-top', 24px, 320px, 32px, 1440px);
}

h4 {
  @include smoothstep('font-size', 22px, 320px, 24px, 1440px);
}

h4 + p, h4 + ul, h4 + ol {
  @include smoothstep('margin-top', 22px, 320px, 24px, 1440px);
}

h5 {
  @include smoothstep('font-size', 20px, 320px, 21px, 1440px);
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h6 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

p, ul, ol {
  max-width: 640px;
}

button, input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

a {
  color: inherit;
  transition: opacity 250ms ease;

  &:hover {
    opacity: 0.8;
  }
}

@import './header';
@import './buttons';
@import './pages/index';
@import './footer';
